STM32ServiceLib/ClientTester/Service References/GameService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/GameServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/GameServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/GameServices/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/GameServices/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/STM32ServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OpenCom_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenCom" />
  </wsdl:message>
  <wsdl:message name="IService1_OpenCom_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenComResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CloseCom_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseCom" />
  </wsdl:message>
  <wsdl:message name="IService1_CloseCom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseComResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ClearData_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearData" />
  </wsdl:message>
  <wsdl:message name="IService1_ClearData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenCom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OpenCom" message="tns:IService1_OpenCom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OpenComResponse" message="tns:IService1_OpenCom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseCom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CloseCom" message="tns:IService1_CloseCom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CloseComResponse" message="tns:IService1_CloseCom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ClearData" message="tns:IService1_ClearData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClearDataResponse" message="tns:IService1_ClearData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenCom">
      <soap:operation soapAction="http://tempuri.org/IService1/OpenCom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseCom">
      <soap:operation soapAction="http://tempuri.org/IService1/CloseCom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearData">
      <soap:operation soapAction="http://tempuri.org/IService1/ClearData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/GameServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>